<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF GENERADO CON PLANTILLA HTML</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body> 
    <h1>{{raza}}</h1>
    <div class="parrafo1">
        <br>
        <p class="nombre">{{nombre_hermano}}</p>
        <br>
        <hr/>
        <p>{{descripcion}}</p>
        <hr/>
    </div>
    <br>
    <img style="display: block; margin-left: auto; margin-right: auto;" src="{{imagen}}">
</body>