<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi PDF Generado con Estilos CSS</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body> 
    <!-- <h1>Ejemplo de PDF Generado con Flask y xhtml2pdf</h1>
    <p>Este es un ejemplo de un PDF generado dinámicamente desde una plantilla HTML utilizando Flask y la biblioteca xhtml2pdf.</p>

    <h2>Datos de Ejemplo</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Correo Electrónico</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Usuario 1</td>
                <td>30</td>
                <td>usuario1@example.com</td>
            </tr>
            <tr>
                <td>Usuario 2</td>
                <td>25</td>
                <td>usuario2@example.com</td>
            </tr>
            <tr>
                <td>Usuario 3</td>
                <td>35</td>
                <td>usuario3@example.com</td>
            </tr>
        </tbody>
    </table> -->
    <h1>{{raza}}</h1>
    <div class="parrafo1">
        <br>
        <p class="nombre">{{nombre_hermano}}</p>
        <br>
        <hr/>
        <p>{{descripcion}}</p>
        <hr/>
    </div>
    <br>
    <img style="display: block; margin-left: auto; margin-right: auto;" src="{{imagen}}">
</body>