<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario para generar pdf</title>
</head>
<body>
    <h1>Formulario</h1>
    <form method="POST" action="/generarPdf" enctype="multipart/form-data">
        <!-- Aquí coloca los campos del formulario -->
        <!--Campo para diligenciar titulo principal-->
        <label for="nombre">Raza</label>
        <input type="text" id="raza" name="raza" required>
        <!--Campo para diligenciar el nombre-->
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" required>
        <!--Campo para agregar la descripción-->
        <textarea name="descripcion" placeholder="Descripción"></textarea>
        <!--Campo para seleccionar imagen-->
        <label for="nombre">Imagen</label>
        <input type="file" name="archivo">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>